*{
box-sizing: border-box;
padding: 0px;
margin: 0px;
font-family: 'Raleway', sans-serif;
}
.header{
    padding: 60px 100px;
}
.logo{
    float: left;
}
.menu li{
    display: inline;
    list-style-type: none;
    padding: 0px 30px;
}
.menu{
    float: right;
    text-align: right;
}
.clear{
    clear: both;
}
.hero{
    padding: 60px 100px;
    height: 500px;
    widows: 100%;
    margin-bottom: 50px;
}
.hero-1{
    float: left;
}
.hero-1 h1{
    line-height: 40px;
    font-weight: 700px;
}
.hero-1 p{
    margin: 30px 0px;
    font-weight: 400px;
    font-family: 'Open Sans', sans-serif;
    word-spacing: 2px;
    line-height: 25px;
}
.hero-1 input[type=text]{
    padding-left: 20px;
    width: 300px;
    height: 40px;
    margin-right: 20px;
    border-radius: 3px;
    border: 1px solid grey;
    font-weight: 400px;
}
.hero-1 button{
    width: 200px;
    height: 40px;
    padding: 10px 20px;
    border: none;
    background-color: hsl(224, 93%, 58%);
    color: white;
    border-radius: 3px;
    font-weight: 700px;
    box-shadow: 1px 1px 10px hsl(0, 0%, 75%);
    cursor: pointer;
}
.hero-2{
    float: right;
}
.body{
    background-image: url(../images/bg-curve-desktop.svg);
    width: 100%;
    height: 800px;
    background-repeat: none;
    background-size: cover;
    background-position: center;
    padding: 150px 100px 0px 100px;
}
.body-1{
    float: left;
}
.body-1 h1{
    margin-bottom: 30px;
    font-weight: 700px;
}
.body-1 p{
    margin-bottom: 15px;
    font-weight: 400px;
    font-family: 'Open Sans', sans-serif;
    word-spacing: 2px;
    line-height: 25px;
}
.body-1 a{
    color: hsl(170, 45%, 43%);
    text-decoration: none;
    font-weight: 400px;
    font-family: 'Open Sans', sans-serif;
    word-spacing: 2px;
}
.body-1 .svg{
    margin-bottom: -3px;
    cursor: pointer;
}
.body-1 hr{
    width: 169px;
    background-color: hsl(170, 45%, 43%);
    margin-top: 3px;
}
.body-1 .testimonial{
    width: 400px;
    height: 250px;
    margin-top: 50px;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 10px hsl(0, 0%, 75%);
    font-size: 15px;
}
.body-1 .testimonial p{
    line-height: 25px;
    font-weight: 400px;
    font-family: 'Open Sans', sans-serif;
    word-spacing: 2px;
}
.body-1 .testimonial .test-av{
float: left;
}
.body-1 .testimonial .test-av img{
    border-radius: 50%;
    display: block;
}
.body-1 .testimonial .test-text{
    margin-left: 40px;
    font-weight: 400px;
    font-family: 'Open Sans', sans-serif;
    word-spacing: 2px;
}
.body-2{
    float: right;
}
.subscribe{
    width: 100%;
    height: 350px;
    padding: 100px;
    background-color: hsl(238, 22%, 44%);
    color: white;
}
.sub-text{
    float: left;
    width: 50%;
}
.sub-text h1{
    margin-bottom: 30px;
    font-weight: 700px;
}
.sub-text P{
    line-height: 30px;
    font-weight: 400px;
    font-family: 'Open Sans', sans-serif;
    word-spacing: 2px;
}
.sub{
    float: right;
    width: 50%;
}
.sub input[type=text]{
    display: block;
    width: 500px;
    height: 40px;
    background-color: white;
    padding: 20px;
    border-radius: 3px;
    border: none;
    margin-bottom: 15px;
    font-weight: 400px;
}
.sub button{
    width: 200px;
    height: 40px;
    background-color: hsl(224, 93%, 58%);
    color: white;
    text-align: center;
    border: none;
    border-radius: 3px;
    font-weight: 700px;
    cursor: pointer;
}
.footer{
    background-color: hsl(243, 87%, 12%);
    width: 100%;
    height: 360px;
    padding: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.footer1{
    width: 25%;
    height: 160px;
    display: block;
}
.footer1 .logo{
    margin-bottom: 20px;
    width: 100%;
}
.footer1 .phone{
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
.phone-icon{
    float: left;
}
.phone-text{
    float: left;
    font-weight: 400px;
    font-family: 'Open Sans', sans-serif;
    word-spacing: 2px;
}
.phone p{
    margin-left: 30px;
    color: white;
}
.footer1 .email{
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
.email-icon{
    float: left;
}
.email-text{
    float: left;
    font-weight: 400px;
    font-family: 'Open Sans', sans-serif;
    word-spacing: 2px;
}
.email p{
    margin-left: 10px;
    color: white;
}
.footer2{
    width: 25%;
    height: 160px;
    padding: 70px;
}
.footer2 ul{
    list-style-type: none;
    line-height: 30px;
    color: white;
    font-weight: 400px;
    font-family: 'Open Sans', sans-serif;
    word-spacing: 2px;
}
.footer3{
    width: 25%;
    height: 160px;
    padding: 70px;
}
.footer3 ul{
    list-style-type: none;
    line-height: 30px;
    color: white;
    font-weight: 400px;
    font-family: 'Open Sans', sans-serif;
    word-spacing: 2px;
}
.footer4{
    width: 25%;
    height: 160px;
    padding: 70px;
}
.footer4, .fab{
    display: inline;
    color: white;
    word-spacing: 10px;
}
.footerp{
    background-color: hsl(243, 87%, 12%);
    color: white;
    text-align: center;
    font-size: 12px;
    padding: 20px 0px;
}
.footerp a{
    text-decoration: none;
    color: hsl(170, 45%, 43%);
}